@tailwind base;
@tailwind components;
@tailwind utilities;


.page-fade {
    opacity: 0;
    transition: opacity 0.35s ease;
}

.page-fade.show {
    opacity: 1;
}

.data-fade-css{
    color: #fd2800;
    text-decoration: none;
}